n8n-workflows/initiate-refund-workflow.json
{
  "name": "Initiate Refund Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "initiate-refund",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE legacy.orders SET status = 'REFUNDED' WHERE id::text = :orderId RETURNING *",
        "additionalFields": {
          "queryParams": "orderId={{$node[\"Webhook\"].json[\"body\"][\"orderId\"]}}"
        }
      },
      "name": "Update Legacy DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        350,
        300
      ],
      "id": "2",
      "credentials": {
        "postgres": {
          "id": "postgres_cred_id"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Refund successful"
            },
            {
              "name": "order",
              "value": "={{$node[\"Update Legacy DB\"].json}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "id": "3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update Legacy DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Legacy DB": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
